
Header {
    overflow: hidden;
    background-color: hvite;
    
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.Header a {
    float: right;
    color: blue;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
    font-family: Jost;
}

.Header .logo {
    float: left;
    color: blue;
    padding: 12px;
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
    font-family: Jost;
    
  }
  

  .Header a:hover {
    background-color: hvite;
    color: black;
  }
  