
* {
    margin: 0;
    padding: 0;
}

body {
    /*Margin top her for at ikke det øverste på siden skulle falle under navigasjonsbaren (som hendte uansett hvis ikke)*/
    margin-top: 150px;

    font-family: 'Jost', sans-serif;
    text-align: center;
}

/*Endringer i noen CSS for å tilpasse innholdet best mulig for fleste telefonskjerm */
@media screen and (max-width: 700px) {
    .Velkommen, .Omoss, .info{
        flex-direction: column;
    }
    .Velkommen{
        flex-direction: column-reverse;
    }
    .VelkommenBilde{
        margin-top: 50px;
    }
    .OmossBilde{
        margin-top: 50px;
    }
    .infoBilder{
        margin-top: 50px;
    }
    .footer{
        height:200px;
        font-size: x-small;
    }
    .footer iframe{
        width: 200px;
        height: 150px;
    }
    
}



/*Koden som tilhører navigasjonsbaren (denne er lik for alle fem sidene):*/
header {
    width: 100%;
    height: 15%;
    background: rgb(174, 85, 85);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 30%;
    height: 100%;
    margin-left: 2%;
}

.logo img {
    width: 15%;
    height: auto;
    margin-left: 8%;
}

.logo a {
    height: 100%;
    width: 100%;
    text-decoration: none;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2.8vw;
}

.logo a p {
    font-family: 'Marck Script', cursive;
    color: white;
    width: 70%;
    max-height: 100%;
    text-align: center;
    margin-right: 23%;
}

nav {
    margin-right: 4%;
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    text-decoration: none;
    font-size: 1.5vw;
    color: white;
    height: 90%;
    padding: 0 2% 0 2%;
    display: flex;
    align-items: center;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

nav a:hover {
    background-color: rgb(180, 107, 107);
    color: black;
    font-weight: 600;
    border-radius: 5px;
}


/*Kode til alt innholdet av(bilde, tekst og display) Velkomst informasjon til nettsiden*/
.Velkommen {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-bottom: 80px;
}
.VelkommenBilde{
    width: 100%;
    border-style: solid;
    border-color: rgb(174, 85, 85);
    padding: 3%;
}
.Velkommen p {
    font-size: 25px;
}
.Velkommen h1{
    color:rgb(175, 76, 76);
    font-size: 65px
}
.Velkommen h2{
    color:rgb(175, 76, 76);
    font-size: 35px;
}
.flex-item-left, .flex-item-right{
    flex: 50%;
    margin-left: 70px;
    margin-right: 70px;
}




/*Kode til knapp som leder til bookingsiden*/
.booking button {
    padding: 2%;
    border: 10px solid rgb(174, 85, 85);
    width: -webkit-fill-available;
    background-color: #e19999;
}
.booking a {
    text-decoration: none;
    color: white;
    font-family: 'Jost', sans-serif;
    font-size: 25px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.booking a:hover {
    text-decoration: none;
    color: black;
    background-color: rgb(174, 85, 85);
    border-radius: 5px;
    font-weight: 600;
    padding: 25px;
}



/*Kode til all layout av Om oss delen av siden*/
.Omoss {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
}
.flex-item {
    flex: 50%;
    margin-left: 70px;
    margin-right: 70px;
}
.Omoss p {
    font-size: 18px;
    padding-top: 3%;
}
.Omoss h2{
    color:rgb(175, 76, 76);
    font-size: 40px; 
}
.OmossBilde {
    width: 100%;
    border-style: solid;
    border-color: rgb(174, 85, 85);
    padding: 3%;
}



hr {
    border: 2px solid rgb(174, 85, 85);
}


/*Kode for innhold av enda mer relevant info om vår restaurant/catering*/
.info {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.flex-item1 {
    flex: 70%;
    margin-left: 70px;
    margin-right: 70px;
}
.flex-item2 {
    flex: 30%;
    margin-left: 70px;
    margin-right: 70px;
}
.infoBilder {
    width: 70%;
    border-style: solid;
    border-color: rgb(174, 85, 85);
    padding: 3%;
}
.info p  {
    font-size: 18px;
    text-align: left;
    padding-bottom: 3%;
}
.info h3  {
    text-align: left;
    color: rgb(175, 76, 76);
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 1%;
}
.info h4 {
    text-align: left;
    color:rgb(175, 76, 76);
    font-size: 20px;
    padding-bottom: 1%;
    padding-top: 1%;
}
.info a:link {
    color:rgb(175, 76, 76)
  } 
.info a:visited{
    color: rgb(175, 76, 76);
} 
.info a:hover {
    text-decoration: underline;
    color:rgba(238, 101, 101, 0.7);
} 
.info a:active {
    text-decoration: underline;
    color: rgb(175, 76, 76);
}





/*Kode for alt som befinner seg i footer (Også lik for alle fem sidene): */
footer {
    max-width: 100%;
    height: 300px;
    background: rgb(236, 234, 234);
    position: static;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2em;
    margin-top: 50px;
}
iframe{
    width: 600px;
    height: 250px;
}
.footerinfo ul {
    list-style: none;
}
.footerinfo {
    list-style: none;
    display: flex;
}
