

/* Kode som gjelder for hele siden, det vi tenkte var nødvendig og kunne gjelde for alt innhold på hele siden*/

* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 150px;

    font-family: 'Jost', sans-serif;
    text-align: center;

   
}




/* Kode for å tilpasse siden ulike skjermstørrelser gjennnom media query*/

@media screen and (max-width: 700px) {
    .brukervennlighet {
        flex-direction: column;
        padding: 4%;
    }

    h1 {
        padding: 1%;
    }

    img {
        flex-direction: column;
        justify-content: space-evenly;
    }
    .footer{
        height:200px;
        font-size: x-small;
    }
    .footer iframe{
        width: 200px;
        height: 150px;
    }
}







/*Koden under er for navigasjonsbare, denne koden er så og si lik for hver side*/

header {
    width: 100%;
    height: 15%;
    top: 0;
    left: 0;

    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background: rgb(174, 85, 85);
    align-items: center;
}

.logo {
    width: 30%;
    height: 100%;
    margin-left: 2%;
}

.logo img {
    width: 15%;
    height: auto;
    margin-left: 8%;

    border: none;
}

.logo a {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    align-items: center;
    font-size: 2.8vw;
    text-decoration: none;
}

.logo a p {
    width: 70%;
    max-height: 100%;
    margin-right: 23%;

    font-family: 'Marck Script', cursive;
    color: white;
    text-align: center;
}

nav {
    margin-right: 4%;
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    text-decoration: none;
    font-size: 1.5vw;
    color: white;

    height: 90%;

    padding: 0 2% 0 2%;
    display: flex;
    align-items: center;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

nav a:hover {
    border-radius: 5px;

    background-color: rgb(180, 107, 107);
    color: black;
    font-weight: 600;
}






/* Kode for tittel, undertittel og all tekst og bilder på siden*/


h1 {
    margin-top: 5%;
    margin-bottom: 2%;

    font-size: 340%;
    color: rgb(175, 76, 76);
}


.undertittel {
    margin-bottom: 3%;

    font-size: 200%;
}

.brukervennlighet {
    margin-bottom: 2%;
    padding: 1%;

    font-size: 180%;
}

img {
    margin-left: 2px;
    margin-right: 2px;
    width: 50%;
    height: 100%;
    padding: 1%;

    border: 2px solid rgb(175, 76, 76);
}

.brukervennlighet p {
    padding: 1%;
}





/*Tekstanimasjon for moroskyld*/

span {
    padding: 1%;

    font-size: 1.4em;

    position: relative;

    transform: translate(-50%,-50%);
    background-image: linear-gradient(90deg, rgba(242,201,201,1) 51%, rgba(224,130,130,1) 100%);
    background-size: 100% 10px;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    transition: background-size .7s, background-position .5s ease-in-out;
    border-radius: 700px;
}

span:hover {
    background-size: 100% 100%;
    background-position: 0% 100%;
    transition: background-position .7s, background-size .5s ease-in-out;
}





/* Koden til alt som er i footer (denne er like for alle sidene)*/

footer {
    width: 100%;
    height: 300px;

    position: static;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background: rgb(236, 234, 234);
    font-size: 1.2em;
}

iframe{
    width: 600px;
    height: 250px;
}

.footerinfo ul {
    list-style: none;
}

.footerinfo {
    list-style: none;

    display: flex;
}