
/* Kode som gjelder for hele siden, det vi tenkte var nødvendig og kunne gjelde for alt innhold på hele siden*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Jost', sans-serif;
    text-align: center;
    margin-top: 150px;
    height: 100%;
}







/*Forsøk gjort på å bedre tilpasse innholdet ulike skjermstørrelser*/
@media screen and (max-width: 700px){
    body {
        size-adjust: 100%;
        
      }
    body p{
        margin-left: 0px;
        margin-right: 0px;
        font-size: small;
    }
    body img{
       width: 100%; 
    }
    
    .førsteavsnitt, .andreavsnitt, .tredjeavsnitt, .sisteavsnitt{
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .h1 {
        font-size: small;
    }
    .h2 {
        font-size: x-small;
    }
      
}





/* Gjorde noen små endringer i navigasjonsbaren slik at den ikke er helt lik som de andre sidene*/
/* Her er ny header. */
header {
    width: 100%;
    height: 15%;
    top: 0;
    left: 0;

    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    

    background: rgb(174, 85, 85);
    align-items: center;
    row-gap: 5px;
}

nav {
    
    width: 80%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    font-size: 1.5vw;
    color: white;

    height: 90%;

    padding: 0 2% 0 2%;
    display: flex;
    align-items: center;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

nav a:hover {
    border-radius: 5px;

    background-color: rgb(180, 107, 107);
    color: black;
    font-weight: 600;
    text-decoration: none;
}
  








/*Design for overskrift. "Font-family:Orbitron" ligger under linker til forskjellige skrifttyper i side5.html */
#overskrift{
    text-align: center;
    font-size: 125%;
    color: black;
    font-family:'Orbitron', sans-serif;
    padding: 10%;
    background-color:white; 
}




/* Lagt til en effekt kalt parallax, som gjør at mens man scroller er det to bakgrunnsbilder som vises mellom tekstelementene.
 Idé og kode hentet fra W3schools - How To - Parallax Scrolling: link->https://www.w3schools.com/howto/howto_css_parallax.asp */
.parallax {
    /* Bilde hentet fra: https://www.pexels.com/nb-no/bilde/oppdagelse-verden-astronomi-kule-220201/, bilde tatt av Pexabay */ 
    background-image: url("Bilder/verdensrommet.jpeg");
    height: 50%;
    
    min-height: 500px; 
  
    /* Dette er koden som skaper parallax funksjonen */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.innledning h2{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 5%;
}




/* En tillegsboks hvor det er link til relevant informasjon*/
.innledningsboks{
    background-color: rgb(220, 220, 220);
    padding: 3%;
}




/*Design for alle paragraphs, har lagd en class for hvert avsnitt for å gjøre det mer ryddig i html.
 Disse blir ikke designet da de allerede er i en paragraph*/
p{
    font-size: x-large;
    text-align: left;
    margin-bottom: 3%;
    
    padding: 30px 0;
    margin-left: 300px;
    margin-right: 300px;
}



/*Design til linkene i paragraphs*/
a{
  text-decoration: none;
  color: #AE5555;
}
a:hover{
    text-decoration: underline;
}



/*Design for alle h3*/
h3{
    font-size: 30px;
    font-family:'Orbitron', sans-serif; 
    
    display: block;
    margin-top: 100px;
    text-align: center;
    margin-bottom: 10px;
}






/*Etter første avvsnitt, slutter første parallax. 
Deretter starter andre parallax*/





.andreparallax{
     /* Bilde hentet fra: https://www.pexels.com/nb-no/bilde/fjell-uskarphet-sfaere-eventyr-346885/, bilde tatt av Doner */ 
    background-image: url("Bilder/jordklode.webp");
    height: 50%;

    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

/*Andre parallax slutter*/




/*Her er koden for de tre bildene nederst som er ved siden av hverandre*/
.grid-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5%;
}

/*Stylingen av de tre bildene i grid-container, lagde border radius for å få rund form på bildene*/
.bilder1{
    width: 80%;
    border-radius: 50px;
}
