
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Jost', sans-serif;
    text-align: center;
    margin-top: 150px;
}


@media screen and (max-width:700px) {
    .intro, .container, .infodel, .bookOnline{
        size-adjust: 100%;
    }
    
}

header {
    width: 100%;
    height: 15%;
    background: rgb(174, 85, 85);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 30%;
    height: 100%;
    margin-left: 2%;
}

.logo img {
    width: 15%;
    height: auto;
    margin-left: 8%;
}

.logo a {
    height: 100%;
    width: 100%;
    text-decoration: none;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2.8vw;
}

.logo a p {
    font-family: 'Marck Script', cursive;
    color: white;
    width: 70%;
    max-height: 100%;
    text-align: center;
    margin-right: 23%;
}

nav {
    margin-right: 4%;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    text-decoration: none;
    font-size: 1.5vw;
    color: white;
    height: 90%;
    padding: 0 2% 0 2%;
    display: flex;
    align-items: center;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

nav a:hover {
    background-color: rgb(180, 107, 107);
    color: black;
    font-weight: 600;
    border-radius: 5px;
}


.intro {
    margin-top: 10%;
    text-align: center;
    font-size: 150%;
}
.intro h1{
    color: rgb(175, 76, 76);
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    font-family: 'Jost', sans-serif;
}
.container h2{
    color:rgb(175, 76, 76);
}

.eventtype {
    margin-top: 15%;
    border: solid;
    border-color: rgb(208, 117, 117);
    box-shadow: 3px 3px rgba(217, 103, 103, 0.7);
}

.eventtype ul li {
    list-style: none;
}

.bryllupbilde {
    width: 100%;
    display: block;
}

.bryllupinnhold {
    line-height: 1,5;
    font-size: 0.9em;
    padding: 15px;
    background: #fafafa;
    text-align: left;
}

.bryllupbook {
    padding: 8%;
    display: flex;
    justify-content: space-between;
    background: #e19999;
    font-size: 0.8em;
    border-bottom: 2px solid rgba(217, 103, 103, 0.7);
}

.bursdagbilde {
    width: 100%;
    display: block;
}

.bursdaginnhold {
    line-height: 1,5;
    font-size: 0.9em;
    padding: 15px;
    background: #fafafa;
    text-align: left;
}

.bursdagbook {
    padding: 8%;
    display: flex;
    justify-content: space-between;
    background: #e19999;
    font-size: 0.8em;
    border-bottom: 2px solid rgba(217, 103, 103, 0.7);
}

.julebordbilde {
    width: 100%;
    display: block;
}

.julebordinnhold {
    line-height: 1,5;
    font-size: 0.9em;
    padding: 15px;
    background: #fafafa;
    text-align: left;
}

.julebordbook {
    padding: 8%;
    display: flex;
    justify-self: flex-end;
    background: #e19999;
    font-size: 0.8em;
    border-bottom: 2px solid rgba(217, 103, 103, 0.7);
    justify-content: space-between;
    margin-bottom: 0.2em;
}

.infodel {
    margin-top: 5%;
}

.infodel h2{
    color: rgb(175, 76, 76);
}

.semenyenvår {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 140%;
}

.semenyenvår button{
    margin-top: 2%;
    border: 2px solid rgb(175, 76, 76);
    border-radius: 1000px;
    background-color: #e19999;
    padding: 1%;
}

.semenyenvår a{
    text-decoration: none;
    color: white;
    font-family: 'Jost', sans-serif;
    font-size: 150%;
    padding: 3px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.semenyenvår a:hover{
    text-decoration: none;
    color: black;
}

.semenyenvår a::after {
    text-decoration: none;
    color: rgb(84, 75, 75);
}

.Feirhososs {
    margin-top: 3%;
    margin-bottom: 8%;
    font-size: 140%;
}

.bordbilde {
    width: 30%;
    float: left;
    padding: 1%;
    margin-top: 1%;
    border-style: solid;
    border-color: rgb(175, 76, 76);
    margin-left: 1%;
}



.bookOnline {
    display: grid;
    grid-template-rows: (2, 1fr);
    padding: 3%;
    justify-content: space-between;
    font-size: 120%;
    margin-left: 15%;
}

.input-element {
    margin: 20px 0;
  }
  
.input-element.inlined {
width: 49%;
display: inline-block;
margin-left: 3%;
margin-right: 3%;
}

label {
display: block;
padding-bottom: 10px;
font-size: 1.1em;
}

input {
border-radius: 2px;
border: 2px solid #777;
font-size: 1.1em;
width: 70%;
padding: 10px;
}

  
  
  .knapp button {
    margin-bottom: 3%;
    border: 2px solid rgb(175, 76, 76);
    background-color: #e19999;
    color: white;
    font-family: 'Jost', sans-serif;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;

    border-radius: 1000px;
    padding: 5%;
    font-size: 150%;
    padding: 3px;
    width: 30%;
}

.knapp p {
    padding: 3%;
}






footer {
    width: 100%;
    height: 300px;
    background: rgb(236, 234, 234);
    position: static;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 120%;
}


.footerinfo ul {
    list-style: none;
}

.footerinfo {
    list-style: none;
    display: flex;
}
