
/*Noe kode som vi brukte på hver av sidene, dette ønsket vi skulle være likt utgangspunkt for alle*/

* {
    margin: 0;
    padding: 0;
}

body {
    /*Margin top her for at ikke det øverste på siden skulle falle under navigasjonsbaren (som hendte uansett hvis ikke)*/
    margin-top: 150px;

    font-family: 'Jost', sans-serif;
    text-align: center;
}




/*Forsøk gjort på å bedre tilpasse innholdet ulike skjermstørrelser*/

@media screen and (max-width: 700px) {
    .intro .container .infodel {
        flex-direction: column;
        padding: 4%;
    }
    .footer{
        height:200px;
        font-size: x-small;
    }
    .footer iframe{
        width: 200px;
        height: 150px;
    }
}





/*Koden som tilhører navigasjonsbaren (denne er lik for alle fem sidene):*/

header {
    width: 100%;
    height: 15%;
    top: 0;
    left: 0;

    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background: rgb(174, 85, 85);
    align-items: center;
}

.logo {
    width: 30%;
    height: 100%;
    margin-left: 2%;
}

.logo img {
    width: 15%;
    height: auto;
    margin-left: 8%;
}

.logo a {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    align-items: center;
    font-size: 2.8vw;
    text-decoration: none;
}

.logo a p {
    width: 70%;
    max-height: 100%;
    margin-right: 23%;

    font-family: 'Marck Script', cursive;
    color: white;
    text-align: center;
}

nav {
    margin-right: 4%;
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    text-decoration: none;
    font-size: 1.5vw;
    color: white;

    height: 90%;

    padding: 0 2% 0 2%;
    display: flex;
    align-items: center;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

nav a:hover {
    border-radius: 5px;

    background-color: rgb(180, 107, 107);
    color: black;
    font-weight: 600;
}






/*Kode til hovedoverskrift og tekst under:*/

.intro {
    margin-top: 12%;
    margin-bottom: 5%;

    text-align: center;
    font-size: 150%;
}

.intro h1{
    color: rgb(175, 76, 76);
}





/*Kode til alt som har med de tre eventkortene å gjøre (i grid):*/

.container {
    margin-right: 25px;
    margin-left: 25px;
    max-width: 100%;
    height: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.container h2{
    color:rgb(175, 76, 76);
}

.eventtype {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    border: solid 1px black;
    border-color: rgb(208, 117, 117);
    box-shadow: 3px 3px rgba(217, 103, 103, 0.7);
}

.eventtype ul li {
    list-style: none;
}

.eventbilde {
    width: 100%;
    display: block;
}

.eventInnhold {
    padding: 15px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-size: 1.2em;
    background: #fafafa;
    text-align: left;
}

.book-kontakt {
    margin-top: auto;
    padding: 8%;

    display: flex;

    background-color: #e19999;
    font-size: 1em;
    border-bottom: 2px solid rgba(217, 103, 103, 0.7);
}




/*Kode for informasjonsavsnitt og henvisning til restaurantmeny (knapp): */

.infodel {
    margin-top: 5%;
}

.infodel h2{
    color: rgb(175, 76, 76);
}

.seMenyenVår {
    margin-top: 50px;
    margin-bottom: 50px;

    font-size: 140%;
}

.seMenyenVår button{
    margin-top: 2%;
    padding: 1%;

    border: 2px solid rgb(175, 76, 76);
    border-radius: 1000px;

    background-color: #df7d7d;
}

.seMenyenVår a{
    padding: 3px;

    text-decoration: none;
    color: white;
    font-family: 'Jost', sans-serif;
    font-size: 150%;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.seMenyenVår a:hover{
    text-decoration: none;
    color: black;
}

.seMenyenVår a::after {
    text-decoration: none;
    color: rgb(84, 75, 75);
}

.feirHosOss {
    margin-top: 3%;
    margin-bottom: 8%;

    font-size: 140%;
}

.bordbilde {
    width: 30%;
    margin-top: 1%;
    padding: 1%;
    margin-left: 1%;

    float: left;
   
    border-style: solid;
    border-color: rgb(175, 76, 76);
}





/*Kode for bookingskjema og tilhørende knapp:  */

.bookOnline {
    padding: 2%;

    font-size: 120%;
}

.input-element {
    margin: 20px 0;
}
  
.input-element.inlined {
    width: 49%;
    margin-left: 3%;
    margin-right: 3%;

    display: inline-block;
}

label {
    padding-bottom: 10px;

    display: block;
    
    font-size: 1.1em;
}

input {
    width: 70%;
    padding: 10px;

    border-radius: 4px;
    border: 2px solid #777;

    font-size: 1.1em;
}

  
  
.book-knapp button {
    padding: 1%;
    width: 30%;

    border: 2px solid rgb(175, 76, 76);
    border-radius: 1000px;

    background-color: #e68080;
}

.book-knapp a {
    width: 30%;
    padding: 3%;

    font-size: 180%;
    font-family: 'Jost', sans-serif;
    text-decoration: none;
    color: white;
}

.book-knapp a:hover {
    color: black;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}







/*Kode for alt som befinner seg i footer (Også lik for alle fire sidene): */

footer {
    width: 100%;
    height: 300px;
    
    position: static;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    font-size: 1.2em;
    background: rgb(236, 234, 234);
}

iframe{
    width: 600px;
    height: 250px;
}

.footerInfo ul {
    list-style: none;
}

.footerInfo {
    list-style: none;

    display: flex;
}
