
* {
    margin: 0;
    padding: 0;
}

body {
    /*Margin top her for at ikke det øverste på siden skulle falle under navigasjonsbaren (som hendte uansett hvis ikke)*/
    margin-top: 150px;

    font-family: 'Jost', sans-serif;
    text-align: center;
}

/*Endringer i noen CSS for å tilpasse innholdet best mulig for fleste telefonskjerm */
@media screen and (max-width: 700px) {
    .Brukervennlighet, .endringer{
        flex-direction: column;
    }
    .BrukervennlighetBilder, .bilderEndringer{
        margin-top: 50px;
    }
    
    .footer{
        height:200px;
        font-size: x-small;
    }
    .footer iframe{
        width: 200px;
        height: 150px;
    }
    
}



/*Koden som tilhører navigasjonsbaren (denne er lik for alle fem sidene):*/
header {
    width: 100%;
    height: 15%;
    background: rgb(174, 85, 85);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 30%;
    height: 100%;
    margin-left: 2%;
}

.logo img {
    width: 15%;
    height: auto;
    margin-left: 8%;
}

.logo a {
    height: 100%;
    width: 100%;
    text-decoration: none;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2.8vw;
}

.logo a p {
    font-family: 'Marck Script', cursive;
    color: white;
    width: 70%;
    max-height: 100%;
    text-align: center;
    margin-right: 23%;
}

nav {
    margin-right: 4%;
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    text-decoration: none;
    font-size: 1.5vw;
    color: white;
    height: 90%;
    padding: 0 2% 0 2%;
    display: flex;
    align-items: center;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

nav a:hover {
    background-color: rgb(180, 107, 107);
    color: black;
    font-weight: 600;
    border-radius: 5px;
}




/*Kode til alt innholdet av bilder og tekst som handler om brukervennlighet*/
.Brukervennlighet {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.BrukervennlighetBilder{
    width: 100%;
    border-style: solid;
    border-color: rgb(174, 85, 85);
    padding: 3%;
}

.Brukervennlighet p {
    font-size: 20px;
    text-align: left;
    line-height: 1.8;
}

.Brukervennlighet h1{
    color:rgb(175, 76, 76);
    font-size: 45px
}
.Brukervennlighet h2{
    font-size: 22px;
    padding: 2%;
}

.flex-item-left{
    flex: 60%;
    margin-left: 50px;
    margin-right: 50px;
}

.flex-item-right{
    flex: 40%;
    margin-left: 50px;
    margin-right: 50px;
}

span {
    padding: 1%;
    font-size: 1.4em;
    position: static;

    transform: translate(-50%,-50%);
    background-image: linear-gradient(90deg, rgba(242,201,201,1) 51%, rgba(224,130,130,1) 100%);
    background-size: 100% 10px;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    transition: background-size .7s, background-position .5s ease-in-out;
    border-radius: 700px;
}

span:hover {
    background-size: 100% 100%;
    background-position: 0% 100%;
    transition: background-position .7s, background-size .5s ease-in-out;
}



/* Kode til hr */
hr {
    border: 2px solid rgb(174, 85, 85);
}



/* Kode til alt innhold av bilder og tekst som handler om Automated test*/
.automatedTest{
    margin: 50px;
}

.automatedTest h2{
    color:rgb(175, 76, 76);
    font-size: 40px;
    padding: 1%;
}

.automatedTest p{
    font-size: 20px;
    text-align: left;
    line-height: 1.8;
}

.endringer{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
}

.flex-item1, .flex-item2{
    flex: 50%;
    margin-left: 20px;
    margin-right: 20px;
}

.bilderEndringer{
    width: 100%;
    padding: 1%;
    border-style: solid;
    border: 2px solid rgb(175, 76, 76);
}




/*Kode for alt som befinner seg i footer (Også lik for alle fire sidene): */
footer {
    max-width: 100%;
    height: 300px;
    background: rgb(236, 234, 234);
    position: static;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2em;
    margin-top: 50px;
}
iframe{
    width: 600px;
    height: 250px;
}
.footerinfo ul {
    list-style: none;
}
.footerinfo {
    list-style: none;
    display: flex;
}