* {
  margin: 0;
  padding: 0;
}

body {
  /*Margin top her for at ikke det øverste på siden skulle falle under navigasjonsbaren (som hendte uansett hvis ikke)*/
  margin-top: 150px;

  font-family: 'Jost', sans-serif;
  text-align: center;
}
    
/*Endringer i noen CSS for å tilpasse innholdet best mulig for fleste telefonskjerm */
@media screen and (max-width: 700px) {
  .restaurantnavn, .Meny, .matrett{
      flex-direction: column;
  }
  
  .vinyardBilde{
      margin-top: 50px;
  }
  
  .footer{
      height:200px;
      font-size: x-small;
  }

  .footer iframe{
      width: 200px;
      height: 150px;
  }
  
}


/*Koden som tilhører navigasjonsbaren (denne er lik for alle fem sidene):*/
header {
  width: 100%;
  height: 15%;
  background: rgb(174, 85, 85);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 30%;
  height: 100%;
  margin-left: 2%;
}

.logo img {
  width: 15%;
  height: auto;
  margin-left: 8%;
}

.logo a {
  height: 100%;
  width: 100%;
  text-decoration: none;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2.8vw;
}

.logo a p {
  font-family: 'Marck Script', cursive;
  color: white;
  width: 70%;
  max-height: 100%;
  text-align: center;
  margin-right: 23%;
}

nav {
  margin-right: 4%;
  width: 50%;
  height: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  text-decoration: none;
  font-size: 1.5vw;
  color: white;
  height: 90%;
  padding: 0 2% 0 2%;
  display: flex;
  align-items: center;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

nav a:hover {
  background-color: rgb(180, 107, 107);
  color: black;
  font-weight: 600;
  border-radius: 5px;
}
  






/*Kode for å style innledningen*/
.restaurantnavn {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}
.restaurantnavn h1 {
  text-align: center;
  font-size: 65px;
  color: rgb(175, 76, 76);
}

/*Styling av p-elementer i innledningen*/
.restaurantnavn p {
  font-size: 20px;
  line-height: 1.5;
}

/*Bruker flex for å enkelt kunne vise elementene side ved side på pc, men under hverandre på mindre skjermer*/
.flex-item-left, .flex-item-right{
  flex: 50%;
  margin-left: 70px;
  margin-right: 70px;
}


/*Styling av første bilde*/
.vinyardBilde{
  width: 100%;
  border-style: solid;
  border-color: rgb(174, 85, 85);
  padding: 3%;
}




/*Styling av <hr> for å marker starten på menyen*/
hr {
  border: 2px solid rgb(174, 85, 85);
  margin-left: 20px;
  margin-right: 20px;
}


/* Styling av meny oppsettet */
.Meny h1, .booking h2{
  text-align: center;
  font-size: 45px;
  color: rgb(175, 76, 76);
  padding: 3%;
}
.Meny h2{
  text-align: center;
  font-size: 35px;
  width: 90%;
  border: 5px solid rgb(174, 85, 85);
  margin-left: 5%;
  margin-bottom: 30px;
  margin-top: 30px;
}
.Meny h4{
  font-size: 25px;
  font-weight: bold;
}
.Meny p{
  font-size: 20px;
}

.matrett{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.flex-item1, .flex-item2{
  flex: 50%;
  margin-left: 70px;
  margin-right: 70px;
  list-style-type: none;
}

.allergener p{
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  color: rgb(174, 85, 85);
  
}
.pris p{
  font-weight: bold;
  font-size: 18px;
}



/* Stylingkoder for reservasjon-elemntet  */
.bordreservasjon{
  border: 5px solid rgb(174, 85, 85);
  display:flexbox;
  margin: 20%;
  margin-top: 0;
  margin-bottom: 0;
  
  padding: 30px;
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  line-height: 2.0;
  background-color: rgb(245, 202, 202);
}
.bordreservasjon div input {
  font-family: 'Jost', sans-serif;
  border: 2px solid rgb(174, 85, 85);
  padding: 5px;
  font-size: 18px;
}
.bordreservasjon div select {
  border: 3px solid rgb(174, 85, 85);
  padding: 5px;
}
#submit {
  text-align: center;
  width: 100%;
}
#submit input {
  width: 80%;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: rgb(174, 85, 85);
}


  
  


/*Kode for alt som befinner seg i footer (Også lik for alle fire sidene): */
footer {
  max-width: 100%;
  height: 300px;
  background: rgb(236, 234, 234);
  position: static;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.2em;
  margin-top: 50px;
}
iframe{
  width: 600px;
  height: 250px;
}
.footerinfo ul {
  list-style: none;
}
.footerinfo {
  list-style: none;
  display: flex;
}