
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Jost', sans-serif;
  text-align: center;
  margin-top: 150px;
}

@media screen and (max-width: 700px) {
  .restaurantnavn, .vårmeny, .grid-containe, .bordreservasjon{
    flex-direction: column;
    max-width: 100%;
  }

  .restaurantnavn, .vårmeny {
    flex-direction: column-reverse;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .footer{
    height:200px;
    font-size: x-small;
  }
  .footer iframe{
    width: 200px;
    height: 150px;
  }
}


header {
  width: 100%;
  height: 15%;
  top: 0;
  left: 0;

  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background: rgb(174, 85, 85);
}

.logo {
  width: 30%;
  height: 100%;
  margin-left: 2%;
}

.logo img {
  width: 15%;
  height: auto;
  margin-left: 8%;
}

.logo a {
  font-size: 2.8vw;
  text-decoration: none;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.logo a p {
  width: 70%;
  max-height: 100%;
  margin-right: 23%;

  text-align: center;
  font-family: 'Marck Script', cursive;
  color: white;
}

nav {
  margin-right: 4%;
  width: 50%;
  height: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  height: 90%;
  padding: 0 2% 0 2%;
  display: flex;

  align-items: center;
  text-decoration: none;
  font-size: 1.5vw;
  color: white;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

nav a:hover {
  background-color: rgb(180, 107, 107);
  color: black;
  font-weight: 600;
  border-radius: 5px;
}


/*NAVIGATION BAR^^ */


.restaurantnavn {
  text-align: center;
  font-size: 200%;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  margin-left: 10px;
}

.restaurantnavn > .left-side {
  font-size: large;
  margin-top: 0px;
  margin-right: 20px;
  margin-left: 20px;
}

.restaurantnavn > .right-side > img {
  width: 1000px;
  height: 700px;
  margin-right: 20px;
}

.restaurantnavn h1 {
  text-align: start;
  font-size: 200%;
  color: black;
  
}

.restaurantnavn p {
  margin-top: 20px;
  line-height: 45px;
}



hr {
  border: 2px solid rgb(174, 85, 85);
  margin-left: 20px;
  margin-right: 20px;
}

#vårmeny {
  font-size: 200%;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  font-family: 'Jost', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 40% 60%;
  margin-left: 20px;
  grid-gap: 10px;
  padding: 10px;
}
.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
}

#matlaging {
  display: flex;
  width: 90%;
}

#pizza {
  display: flex;
  width: 90%;
}

#gelato {
  display: flex;
  width: 90%;
}

#dekketbord {
  display: flex;
  width: 90%;
}




.menyen ul li {
  list-style: georgian;
}

.menyen h3 {
  font-size: 200%;
}

.menyen h4 {
  display:block;
  font-size: 150%;
  margin: 30px;
  font-weight: bold;
}


.allergener{
  display: block;
  color: rgb(94, 57, 12);
  font-weight: bold;
}

.forrett {
  margin-bottom: 100px;
}

.hovedretter {
  margin-bottom: 100px;
}

.desserter {
  margin-bottom: 50px;
}

.bordreservasjon {
  display: inline-block;
  font-family: 'Jost', sans-serif;
  width: 300px;
  margin-top: 10%;
  border: 3px solid rgb(175, 76, 76);
  padding: 10%;
}
.bordreservasjon div {
  display: inline-block;
  text-align: start left;
  margin: 10px 20px;
}
.bordreservasjon div input {
  font-family: 'Jost', sans-serif;
  border: 1px solid rgb(175, 76, 76);
}
.bordreservasjon div select {
  border: 2px solid rgb(175, 76, 76);
}

#submit {
  text-align: center;
  width: 100%;
}

#submit input {
  width: 200px;
}



footer {
  width: 100%;
  height: 300px;
  background: rgb(236, 234, 234);
  position: static;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.2em;
}

iframe{
  width: 600px;
  height: 250px;
}

.footerinfo ul {
  list-style: none;
}

.footerinfo {
  list-style: none;
  display: flex;
}